In [56]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [85]:
#Create days list
col_num = [0] + list(range(1, 63, 2))
col_names = ['name']
for i in range(1, 10):
    col_names.extend(['0{}'.format(i)])
for i in range(10, 32):
    col_names.extend(['{}'.format(i)])
    
# Read original data
df = pd.read_excel('../Analysis Data/weather_excel.xlsx', index_col=None, header=None, names=col_names, usecols=col_num)
df.replace(-9999, pd.NA, inplace=True)


#Separation of information in the first column
for i in range(0, df.count()[0]):
    first_col = df['name'][i]
    new_col = first_col[11:15] + ' ' + first_col[15:17] + ' ' + first_col[17:21]
    df['name'][i] = new_col

df[['year', 'month', 'kind']] = df.name.str.split(' ', expand=True)
df.drop('name', axis=1, inplace=True)

# Drop useless records
df = df[df['year'] == '2010']
df = df[df['month'] <= '05']

df = df.melt(id_vars=['year', 'month', 'kind'])

df = df[(pd.notna(df['value']))]
df.set_axis(list(range(df.count()[0])), axis=0, inplace=True)
df['day'] = df['variable']
df.drop('variable', axis=1)
df = df[['year', 'month', 'day', 'kind', 'value']]
df.sort_values(by=["year", 'month', 'day'], inplace=True)
for index, row in df.iterrows():
    if row['value'] == 0:
        df.drop(index, inplace=True)

df['value'] = df['value'].div(10)
df.to_excel(excel_writer="../Analysis Data/tidy_weather.xlsx", index=False)

In [84]:
df.head(100)

    year month day  kind value
73  2010    01  30  TMAX  27.8
74  2010    01  30  TMIN  14.5
1   2010    02  02  TMAX  27.3
2   2010    02  02  TMIN  14.4
5   2010    02  03  TMAX  24.1
6   2010    02  03  TMIN  14.4
27  2010    02  11  TMAX  29.7
28  2010    02  11  TMIN  13.4
54  2010    02  23  TMAX  29.9
55  2010    02  23  TMIN  10.7
12  2010    03  05  TMAX  32.1
13  2010    03  05  TMIN  14.2
24  2010    03  10  TMAX  34.5
25  2010    03  10  TMIN  16.8
39  2010    03  16  TMAX  31.1
40  2010    03  16  TMIN  17.6
64  2010    04  27  TMAX  36.3
65  2010    04  27  TMIN  16.7
67  2010    05  27  TMAX  33.2
68  2010    05  27  TMIN  18.2
72  2010    05  29  PRCP   2.5